@{
    ViewBag.Title = "Home Page";
}


<div id="body" onclick="Closemenu();">
    <!-- banner begin -->
    <div class="lrp_wrap_outer lrp_banner">
        <!-- Jeuery Slider begin -->
        <div class="jcarousel jcarousel_banner">
            <a class="lrp_btn_com_prev lrp_btn_com_prev_banner" title="返回" onclick=""></a>
            <a class="lrp_btn_com_next lrp_btn_com_next_banner" title="前進" onclick=""></a>
            <ul class="lrp_bn_kv pic_only">
                <!-- JS控制總寬度 --><!--只有圖片的版本-->
                <li>
                    <a title="肌膚敏感？聽專家解密肌膚致敏因素" href="/events/2016sensi/?utm_source=lrp&utm_medium=display&utm_campaign=2016sensi&utm_content=standard_official_na_1200x430_na_na"><img alt="肌膚敏感？聽專家解密肌膚致敏因素" src="Images/indexBn/20160811_Sensi_1200x440.jpg"><img alt="肌膚敏感？聽專家解密肌膚致敏因素" class="m_kv" src="Images/indexBn/20160811_Sensi_960x600.jpg"></a>
                </li>
                <li>
                    <a title="理膚寶水會員集點計劃正式上線" href="/events/2016CRM01/?utm_source=lrp&utm_medium=display&utm_campaign=2016crm&utm_content=standard_official_na_1200x430_na_na">
                        <img alt="理膚寶水會員集點計劃正式上線" src="Images/indexBn/20160811_Banner_CRM_1200x440.jpg">

                        <img alt="理膚寶水會員集點計劃正式上線" class="m_kv" src="Images/indexBn/20160811_Banner_CRM_960x600.jpg">
                    </a>
                </li>
                <li>
                    <a title="理膚寶水會員集點計劃正式上線" href="/news"><img alt="理膚寶水會員集點計劃正式上線" src="Images/indexBn/20160811_Banner3_1200x440.jpg"><img alt="理膚寶水會員集點計劃正式上線" class="m_kv" src="Images/indexBn/20160811_Banner3_960x600.jpg"></a>
                </li>
            </ul>
            <p class="jcarousel_pagination_banner" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a><a href="#3">3</a></p>
        </div>
        <!-- Jeuery Slider end -->
        <div class="lrp_bn_member">
            <h3>會員集點</h3>
            <h5>消費集點換好禮，市面最優惠的會員權益</h5>
            <div class="lrp_btn_com_main"><a href="" title="">成為會員&gt;</a></div>
        </div>
        <div class="lrp_bn_adv">
            <h3>肌膚諮詢</h3>
            <h5>了解你的肌膚問題，專業衛教解答及專屬妳的膚質建議</h5>
            <div class="lrp_btn_com_sub"><a href="" title="">立即諮詢&gt;</a></div>
        </div>
        <div class="lrp_bn_news">
            <h3>醫美新訊</h3>
            <h5>最新醫美市場脈動，最豐富的美麗新知</h5>
            <div class="lrp_btn_com_main"><a href="" title="">了解更多&gt;</a></div>
        </div>
    </div>
    <!-- banner end -->
    <!-- 其他產品推薦 slider begin -->
    <div class="lrp_wrap_outer lrp_product_slider">
        <h2>其他產品推薦 <span class="lrp_text_price"><a href="" title="">看所有產品 &gt;</a></span></h2>
        <!-- Jeuery Slider begin -->
        <div class="jcarousel jcarousel_product">
            <div class="lrp_btn_com_prev lrp_btn_com_prev_product" title="返回" onclick=""></div>
            <div class="lrp_btn_com_next lrp_btn_com_next_product" title="前進" onclick=""></div>
            <ul class="lrp_product_list" style="width:8000px;">
                <!-- JS控制總寬度 -->
                <li>
                    <div class="pic">
                        <img src="Images/Resources/product_01_400.jpg" alt="產品名">
                        <ul class="pic_tag">
                            <li>化妝水</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">三合一高效煥白化妝水 200ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                        <ul class="online_shop">
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="1"><img src="Images/Resources/btn_online_shop_momo.jpg" alt="momo"></a></li>
                            <li><a href="2"><img src="Images/Resources/btn_online_shop_pchome.jpg" alt="pchome"></a></li>
                            <li><a href="3"><img src="Images/Resources/btn_online_shop_yahoo.jpg" alt="yahoo"></a></li>
                            <li class="shop_search"><a href="4"><span class="lrp_icon_search"></span>查詢實體通路</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_02_400.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>眼霜</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">多容安極效舒敏眼霜 20ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_03_400.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>防曬品</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">安得利清爽極效夏卡防曬液 50ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_04_400.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>卸妝品</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">高效溫和眼部卸妝液 125ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_01.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>清潔</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">水感寶獅泡沫洗面乳水感寶獅泡沫洗面乳 125ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>
                <li>
                    <div class="pic">
                        <img src="Images/Resources/product_01_400.jpg" alt="產品名">
                        <ul class="pic_tag">
                            <li>化妝水</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">三合一高效煥白化妝水 200ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_02_400.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>眼霜</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">多容安極效舒敏眼霜 20ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>

                <li>
                    <div class="pic">
                        <a href="" title=""><img src="Images/Resources/product_03_400.jpg" alt="產品名"></a>
                        <ul class="pic_tag">
                            <li>防曬品</li>
                        </ul>
                    </div>
                    <h5><a href="" title="">安得利清爽極效夏卡防曬液 50ml</a></h5>
                    <h6><a href="" title="">HYDRAPHASE INTENSE MASK HYDRAPHASE INTENSE MASK</a></h6>
                    <!-- 星星-平均分數 begin -->
                    <div class="star_average">
                        <div class="star_common">
                            <span class="current_rating" style="width:60%"></span>
                        </div>
                    </div>
                    <!-- 星星-平均分數 end -->
                    <span class="lrp_text_price">NT1250</span>
                    <div class="lrp_btn_com_cart">
                        <span class="lrp_icon_cart"></span>立即購買
                    </div>
                </li>
            </ul>
        </div>
        <!-- Jeuery Slider end -->
    </div>
    <!-- 其他產品推薦 slider end -->
    <!-- 品牌故事+哪裡買 begin -->
    <div class="lrp_wrap_outer">
        <div class="lrp_brand" title="品牌故事" onclick="">
            <h3>品牌故事</h3>
            <h4>安全、有效、舒適<br>是理膚寶水的一貫宗旨</h4>
            <div class="lrp_brand_logo"></div>
            <div class="lrp_btn_com_main"><a href="" title="">立即了解&gt;</a></div>
        </div>
        <div class="lrp_tobuy">
            <h3>哪裡買</h3>
            <div class="search">
                <div class="online">
                    <h4>線上購物</h4>
                    <select>
                        <option>請選擇</option>
                    </select>
                </div>
                <div class="shop">
                    <h4>實體通路</h4>
                    <select>
                        <option>縣市</option>
                    </select>
                    <select>
                        <option>鄉鎮市區</option>
                    </select>
                </div>
            </div>
            <div class="lrp_locate">
                <h4>
                    或依我的位置<br>查詢最近銷售據點
                </h4>
                <div class="lrp_btn_com_sub"><a href="" title="">立即了解&gt;</a></div>
            </div>
        </div>
    </div>
    <!-- 品牌故事+哪裡買 end -->

</div>