
@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body" class="lrp_login" onclick="Closemenu();">
    <div class="lrp_wrap_outer">
        <h1>感謝您的註冊</h1>
        <p>恭喜您完成會員註冊資料填寫，</p>
        <p>系統將發送email驗證信給您，為確保您的會員權益，請至個人信箱完成驗證。</p>
   
    </div>
</div>

